<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog.id %>">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display! Create a new one.</p>
    <% } %>
    
  </div>
  <%# Show popup message only first time %>
  <% if (flag == 0) { %>
    <div id="alert" class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <strong>Sign-In Successful!</strong> Welcome, <%= name %>!
    </div>
  <% } %>

  <%- include("./partials/footer.ejs", {linkedin:linkedin, github:github}) %>
</body>
</html>